
#startingScreen, #questionsScreen, #gameOverScreen, #leaderboardScreen   {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  #questionsScreen, #gameOverScreen, {
    display: none;
  }
  
  
  #startingScreen div {
    text-align: center;
  }
  #startingScreen h1 {
    font-size: 70px;


  }
  #startingScreen p{

    font-size: 30px;
  }

  #startingScreen button{
    width: 200px;
    height: 80px;
    font-size: 40px;
    border-radius: 20%;
  }
  
  #h1StartScreen, #pStartScreen {
    margin-bottom: 30px;
  }
  #seeMyScoreButton{
    width: 200px;
    height: 80px;
    font-size: 40px;
    border-radius: 20%;

  }
  
  #submitIntialsButton{
    width: 70px;
    height: 20px;
    font-size: 20px;
    border-radius: 20%;
    display: flex;
    
    justify-content: center;
    align-items: center;
  }
    







 
